@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-content {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    max-width: 900px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  /* Close Button */
  .modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-weight: lighter;
    font-size: 30px;
    cursor: pointer;
    color: #918989;
  }
  
  /* Modal Body */
  .modal-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width:100%;
    align-items: center;
    /* padding: 20px; */

  }

  
  /* Left Carousel */
  .modal-carousel {
    flex: 1.5;
    /* border-right: 1px solid #ddd; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%; 
    width: 90%;  /* Ensures carousel spans full width of container */
    overflow: hidden;  /* Prevents overflow */
    /* padding: 10px; */
  }

  .carousel.carousel-slider .control-arrow {
    padding:0;
  }

.carousel .control-dots{
  bottom: 10px;
}
  .carousel .control-dots .dot {
    background-color: #a39e9e;
}
  

  /* Right Content */
  .modal-details {
    flex: 1;
    padding: 20px;
    height: 90%; 
    width: 90%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .modal-category {
    font-size: 12px;
    font-family: "Prompt", sans-serif;
    color: gray;
    margin: 0px;
    font-weight: 600;

  }
  
  .modal-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
    margin: 0px;  
  }
  
  /* Table Styles */
  .modal-table {
    width: 100%;
    margin-top: 20px;
    border-radius: 20px; /* Makes the table corners rounded */
    color: black;
    border: 2px solid white; /* Add border to table */
    overflow: hidden; /* Ensures rounded corners for the content */
  }
  
  .modal-table th,
  .modal-table td {
    text-align: left;
    padding: 10px;
    /* border: 1px solid white; */
    color: black;
    background-color: #D9D9D9;
  }
  
  .modal-table th {
    background: #f9f9f9;
    font-weight: bold;
    background-color: #D9D9D9;
  }
  

  
.descrptn{
  font-size: 12px;
  color: black;
  font-weight: 400;
  margin: 0;
}
  
  @media (max-width:767px){
       /* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 80%;
  max-width: 900px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 10px;
}

/* Close Button */
.modal-close {
  /* position: absolute; */
  top: 0px;
  right: 1px;
  background: transparent;
  border: none;
  font-weight: lighter;
  font-size: 30px;
  cursor: pointer;
  color: #918989;
}

.descrptn{
  font-size: 10px;
  color: black;
  font-weight: 400;
  margin: 0;
}

/* Modal Body */
.modal-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100%;
  align-items: center;
  /* padding: 20px; */

}


/* Left Carousel */
.modal-carousel {
  flex: 1.5;
  /* border-right: 1px solid #ddd; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%; 
  width: 90%;  /* Ensures carousel spans full width of container */
  overflow: hidden;  /* Prevents overflow */
}


/* Right Content */
.modal-details {
  flex: 1;
  padding: 20px;
  height: 90%; 
  width: 90%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-category {
  font-size: 12px;
  font-family: "Prompt", sans-serif;
  color: gray;
  margin: 0px;
  font-weight: 600;

}

.modal-title {
  font-size: 16px;
  margin-bottom: 20px;
  color: black;
  margin: 0px;  
}

/* Table Styles */
.modal-table {
  width: 100%;
  margin-top: 20px;
  border-radius: 15px; /* Makes the table corners rounded */
  color: black;
  border: 2px solid white; /* Add border to table */
  overflow: hidden; /* Ensures rounded corners for the content */
}

.modal-table th,
.modal-table td {
  text-align: left;
  padding: 2px;
  /* border: 1px solid white; */
  color: black;
  background-color: #D9D9D9;
  font-size: 6px;
}

.modal-table th {
  background: #f9f9f9;
  font-weight: bold;
  background-color: #D9D9D9;
}

    }
