.product-card img{
    height: 200px;
    width: 200px;
    object-fit: contain;

}

.product-card{
    background-color: white;
    padding: 10px;
    border-radius: 7px;
    aspect-ratio: 3 / 4; /* Width : Height = 3:5 */
}

.product-card .product-info{
    /* display: flex;
    flex-direction: column; */
    background-color: #EF7C00;
    border-radius: 5px;
    text-align: left;
}

.product-card h4{
    margin: 2px 0 0px 0;
    font-size: 24px;
    padding: 0 0 2px 5px;
    font-family: "Prompt", sans-serif;
    font-weight:600;
    color: white;
}

.product-card p{
   font-family: "Promot", sans-serif;
   font-size: 12px;
   /* margin-top: 5px; */
   padding-top: 5px;
   padding-left: 5px;
   color: white ;
}
