@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');
.MainContainer{
    background-image: url('../assets/MainContainer_Background.png');
    width: 100%;   
    min-height: 180vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 10px 20px; */
}

header .logo{
  width:20%
}
header .logo img{
  width: 100%;
  height: auto;
}

 header nav{
    width: 55%;
}

nav ul{
    display: flex;  
    list-style: none;
    padding: 0;

}
nav ul li{
    padding:5px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 7px;
    z-index: 10;
}

.nav-bar ul li a {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Ensures the link inherits the parent text color */
  }
  
  .nav-bar ul li a:hover {
    color: #EF7C00; /* Optional: Add underline on hover for better UX */
  }

.products-container1{
    background-color: #EF7C00;
    border-top-right-radius: 40px;
    height: 420px;
    width: auto;
    display: flex;
    flex-direction: column;
}

.cont1-sub-cont1{
    display: flex;
    height: 150px;
    width: auto;
    /* margin-left: 10px;*/
    margin-top: 10px; 
    justify-content: space-evenly;
}

.cont1-sub-cont1 h1{
    font-family: "Prompt", sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    font-style: italic;
}

.cont1-sub-cont1 p{
    font-family: "Prompt", sans-serif;
    font-size: 5px;
    color: #FFFFFF;
    font-weight: 400;
}

.cont1-sub-cont1 button{
    font-family: "Prompt", sans-serif;
    font-size: 6px;
    border: none;
    border-radius: 10px;
    padding: 2px 10px;
    color: #EF7C00;
    font-weight: 700;
}

.cont1-sub-cont1 .right{
    position:relative;
}

.cont1-sub-cont1 .right .first{
    height: 90px;
    width: 130px;
    border-radius: 10px;
    border: 1px solid #ffffffa7;
    transform: rotate(-12.34deg);
    opacity: 0.5;
    margin-left: 30px;
}

.cont1-sub-cont1 .right .second{
    height: 75px;
    width: auto;
    position:absolute;
    transform: rotate(7.34deg);
    margin-left: 45px;
    margin-top: -65px;
    z-index: 2;
}

.cont1-sub-cont1 .right .third{
    height: 190px;
    width: auto;
    position:absolute;
    transform: rotate(7.34deg);
    margin-left: -40px;
    margin-top: -135px;
    z-index: 1;
}

.cont1-sub-cont2{
   height: 175px;
   width: auto;
   position: relative;
   display: flex;
   margin-top: 0px;
   justify-content: space-evenly;
   /* margin-bottom: 20px; */
   
}

/* .cont1-sub-cont2 .left{
    margin-right: 0px;
} */

.cont1-sub-cont2 .left .first {
   height: 120px;
   width: 150px;
   border-radius: 10px;
   border: 1px solid #ffffffa7;
   transform: rotate(-12.34deg);
   opacity: 0.5;
   margin-left: 0px;
   margin-top: 40px;
}

.cont1-sub-cont2 .left .second {
    position: absolute;
    height: 170px;
    margin-top: -170px;
    z-index: 1;
    margin-left: -50px;
 }


 .cont1-sub-cont2 .right{
    margin-right: 20px;
    margin-bottom: 50px;
    text-align: right;
    color:white;

  }

  .cont1-sub-cont2 .right h1{
    font-size: 12px;
    font-family: 'Prompt', sans-serif;
  }

  .cont1-sub-cont2 .right p{
    font-size: 5px;
    font-family: 'Prompt', sans-serif;
  }

  .cont1-sub-cont2 .right ul{
    list-style-position: inside;
    font-size: 5px;
    font-family: 'Prompt', sans-serif;
    padding-left: 0;
    margin-left: 0;
    margin-top: 50px;
  }

  .cont1-sub-cont2 .right button{
      background-color: white;
      border: none;
      border-radius: 20px;
      padding: 10px 20px;
      font-family: 'Prompt', sans-serif;
      font-weight: 700;
      font-size: 6px;
      color:#EF7C00;
      margin-top: 5px;
  }

  .hbar{
    height: 20px;
    background-color: #FFFFFF;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .hbar h6{
    margin: 0px;
    font-family: "Prompt", sans-serif;
    font-size: 5px;
    color: #EF7C00;
    font-weight: 600;
  }

  .hbar img{
    height: 3px; 
    width: auto;

  }

  .products-container2{
    background-color: #EF7C00;
    height: 200px;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    text-align: left;
  }

  .products-container2 .left{
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: 30px;
    
  }

  .products-container2 .left h1{
    font-family: "Prompt", sans-serif;
    font-size: 12px;
  }

  .products-container2 .left ul{
    /* list-style-position: outside; */
    font-size: 5px;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    margin-left: 7px;
    padding-left: 0px;
    margin-top: 30px;
  }

  .products-container2 .left p{
    font-size: 5px;
  }


  .products-container2 .right .first{
    height: 120px;
    overflow-x: hidden;
    border-radius: 10px;
   border: 1px solid #ffffffef;
   transform: rotate(10.34deg);
   opacity: 0.5;
   margin-left: 60px;
   margin-top: 50px;
    
    
  }

  .products-container2 .right .second{
    position: absolute;
    overflow-x: hidden;
    height: 140px;
    margin-top: -155px;
    margin-left: -20px;
    z-index: 1;
    
  }

  .product-listing {
    text-align: center;
  }
  
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    padding: 20px;
  }
